chatList_Main{
    background-color: #000000;
}

/* 这里是滚动容器 */
chatList_Main #scrollArea{
    background-color: transparent;
    border: none;
}


chatList_Main #CLM_plainTextEdit{
    border: none;
    background-color: transparent;
    font-size: 13px;

    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #353535;

    margin-left: 10PX;
}



chatList_Main QSplitter::handle{
	background-color: #E9E9E9;

    margin: 0px;
    border: 0px;
}

/* 这里的滚动容器的qwidget */
chatList_Main #scrollAreaWidgetContents{
    /* background-color: transparent; */

    background-color: #F2F2F2;
}

/* 这里是2个导入文件 和 导入图片的框 */
chatList_Main #CLMTitle{
    background-color: #F2F2F2;
    border-bottom: 1px solid #E9E9E9;   /* 水平线 */

}

/* 这里是对话标题 */
chatList_Main #labelContactNickname{
    font-size: 18px;
    font-weight: bold;
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #353535;
}



chatList_Main #btn_file,
chatList_Main #btn_img{
    min-height: 26px;
    min-width: 26px;
    max-width: 26px;
    max-height: 26px;
    background-color: transparent;
    /* background-color: aqua; */
}

chatList_Main #btn_pushMsg{

    min-height: 28px;
    min-width: 83px;
    max-width: 83px;
    max-height: 28px;
    
    background-color: #0099FF;
    border-radius: 3px;

    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    
    color: #FFFFFF;
}


