chatListPage #listView {
    border: none;
}

#RC_Line_Box {
    border: none;
    margin-left: 7px;

}


#groupBox_3 {
    border: none;
}

#RCL_UserName,
#RCL_UnreadCount,
#RCL_MessagePreview,
#RCL_LastMsgTime {
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#RCL_LastMsgTime,
#RCL_UnreadCount,
#RCL_MessagePreview {
    color: gray;
    font-size: 11px;
}

#groupBox.unread {
    background-color: rgb(255, 0, 0);
    border-radius: 9px;
}

#groupBox.no-unread {
    background-color: transparent;
    border: none;
}



#groupBox_2 {
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    ;
    margin-bottom: 15px;
}


#RCL_UnreadCount {
    color: white;
    font-weight: 400;
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;


}

/* ===== 垂直滚动条 ===== */
QScrollBar:vertical {
    border: none;
    background: white;
    width: 6px;
    border-radius: 3px;
}

QScrollBar::handle:vertical {
    background: #cccccc;
    min-height: 30px;
    border-radius: 3px;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
    /* 隐藏上下箭头按钮 */
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: transparent;
    /* 轨道剩余部分透明 */

}



/* 强制取消 item 的焦点矩形（尽量放在 QSS 末尾以覆盖其它规则） */
QListView#listView QAbstractItemView::item,
QListView#listView QAbstractItemView::item:focus,
QListView#listView QAbstractItemView::item:selected:focus,
QListView#listView QListView::item:focus,
QListView#listView QListView::item:focus {
    outline: none;
    border: none;
}

QListView::item:hover {
    background: #F5F5F5;
}


QListView::item:selected {
    background: rgba(70, 130, 180, 0.20);
    border-left: 3px solid #4a90e2;
    /* 左侧蓝条指示 */
    padding-left: 11px;
    /* 因为加了左边框，稍微内缩 */
    color: #ffffff;
}






QMenu {
    background-color: white;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    padding: 6px;
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

}

/* item padding: top right bottom left —— 把左边 padding 调小 */
QMenu::item {
    padding: 6px 12px;
    /* 原来是 6px 20px -> 右边缩小到 12，左边缩到 6 */
    margin: 2px 0px;
    spacing: 10px;
    /* 有些 style 支持 spacing */
    width: 100px;
    padding-left: 20px;
}

/* 图标到文字的额外间距（视 style 支持情况而定）*/
QMenu::icon {
    padding: 0px 15px 0px 0px;
    /* 上 右 下 左 —— 右边为 icon 到文字的距离，设为 6 */
    margin-left: 0px;
    /* 清除可能的左侧预留 */
    padding-left: 13px;
    

}

QMenu::item:selected {
    background-color: #e6e6e6;
    border-radius: 5px;
}